@using MvcOnlineTicariOtomasyon.Models.Entities
@using MvcOnlineTicariOtomasyon.Controllers
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered">
    
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Guncelle</th>
    </tr>
    @foreach (var k in Model)
    {
<tr>

    <td>
        @k.CategoryId
    </td>
    <td>
        @k.CategoryName
    </td>
    <td><a href="/Category/KategoriSil/@k.CategoryId" class="btn btn-danger">Sil</a></td>
    <td><a href="/Category/KategoriGetir/@k.CategoryId" class="btn btn-success">Guncelle</a></td>

</tr>
    }

    
</table>

<a href="/Category/KategoriAdd" class="btn btn-primary">Kategori Ekle</a>

